# Entorn Virtual
.venv/
env/
venv/
ENV/

# Python compilats
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets i variables d'entorn
.env

# Fixtures / Dades de la BD (MAI pujar al repo públic!)
testdb.json
*.json

# IDEs
.vscode/
.idea/
*.swp