# Entorn Virtual
.venv/
env/
venv/
ENV/

# Python compilats
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets i variables d'entorn
.env

# Fixtures / Dades de proves (només per al CI, sense dades reals de producció)
# testdb.json  ← ara es puja al repo perquè el CI en necessita

# IDEs
.vscode/
.idea/
*.swp